In [35]:
import pandas as pd
import datetime

In [2]:
#load the file
ocean = pd.read_csv("/Users/nisha/UMD/Data Challenge2/Data_Level5_BAH_OceanCleanup.csv", low_memory=False)

In [3]:
#top 10 rows of the dataset
ocean.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,86,"Cuyahoga County, OH, USA","Ohio, USA",United States,"41.49742, -81.56505","Land (beach, shoreline and inland)",12/22/14,NaN,1,0,...,0,0,0,0,0,0,0,0,0,3
1,87,"Fairfax County, VA, USA","Virginia, USA",United States,"38.87456, -77.24428","Land (beach, shoreline and inland)",12/24/14,NaN,1,0,...,0,0,0,0,0,0,0,0,2,10
2,92,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.04405","Land (beach, shoreline and inland)",2/19/15,NaN,1,0,...,1,0,0,0,0,0,0,0,0,4
3,93,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2/19/15,NaN,1,0,...,0,0,0,0,0,0,0,0,0,14
4,94,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2/19/15,NaN,1,0,...,0,0,0,0,0,0,0,0,0,14

In [4]:
#bottom ten rows of the dataset
ocean.tail()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
37898,96514,"Broward County, FL, USA","Florida, USA",United States,"26.237461329267, -80.088657725949","Land (beach, shoreline and inland)",9/21/19,Pompano Beach,155,65,...,0,12,1,9,5,0,816,118,3172,9044
37899,96515,"Broward County, FL, USA","Florida, USA",United States,"26.192071595116, -80.095065761509","Land (beach, shoreline and inland)",9/21/19,Lauderdale By The Sea at El Prado Park,173,0,...,0,2,2,2,4,0,194,35,652,1830
37900,96516,"Broward County, FL, USA","Florida, USA",United States,"26.167607025494, -80.098590082316","Land (beach, shoreline and inland)",9/21/19,Fort Lauderdale at Earl Lifshey Park,79,0,...,0,26,2,0,4,0,80,12,60,2370
37901,96517,"Broward County, FL, USA","Florida, USA",United States,"26.141126021262, -80.103590059501","Land (beach, shoreline and inland)",9/21/19,Hugh Taylor Birch State Park,135,0,...,0,15,6,5,23,0,141,25,1171,3788
37902,96518,"Humboldt County, CA, USA","California, USA",United States,"40.809835251824, -124.14836608941","Land (beach, shoreline and inland)",9/21/19,Caltrans- ZWCCD 2019,16,4,...,0,6,2,22,3,0,65,92,932,4205

In [5]:
#get the number of rows and columns
ocean.shape

(37903, 61)

In [6]:
#descriptive statistics
ocean.describe()

,Cleanup ID,Adults,Children,People,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
count,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,...,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000,37903.000000
mean,42495.595837,16.621481,2.452814,19.074295,310.799010,1.426367,7.360103,87.486795,33.097644,5.916075,...,9.299211,0.404374,0.380682,0.299238,0.677651,1.068939,86.861172,14.325225,78.967997,502.647284
std,26553.371589,200.761902,18.684501,203.218661,4621.795387,15.329109,157.094929,654.502004,178.587065,62.254280,...,34.788479,5.089223,7.178605,6.212013,10.574033,3.902169,3103.427072,135.943679,785.913342,4060.754999
min,86.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21636.500000,1.000000,0.000000,1.000000,1.450000,0.027500,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000
50%,38496.000000,2.000000,0.000000,2.000000,5.600000,0.341700,0.000000,4.000000,5.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,84.000000
75%,67463.500000,6.000000,0.000000,7.000000,24.000000,1.105100,0.000000,30.000000,19.000000,3.000000,...,8.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,43.000000,264.000000
max,96518.000000,22060.000000,1291.000000,22060.000000,425025.000000,2423.166700,18581.000000,57712.000000,14193.000000,8050.000000,...,2673.000000,463.000000,1211.000000,973.000000,1456.000000,224.000000,440000.000000,13130.000000,123885.000000,440496.000000

In [7]:
#get the variable names
ocean.columns

Index(['Cleanup ID', 'Zone', 'State', 'Country', 'GPS', 'Cleanup Type',
       'Cleanup Date', 'Group Name', 'Adults', 'Children', 'People', 'Pounds',
       'Miles', '# of bags', 'Cigarette Butts',
       'Food Wrappers (candy, chips, etc.)',
       'Take Out/Away Containers (Plastic)', 'Take Out/Away Containers (Foam)',
       'Bottle Caps (Plastic)', 'Bottle Caps (Metal)', 'Lids (Plastic)',
       'Straws, Stirrers', 'Forks, Knives, Spoons',
       'Beverage Bottles (Plastic)', 'Beverage Bottles (Glass)',
       'Beverage Cans', 'Grocery Bags (Plastic)', 'Other Plastic Bags',
       'Paper Bags', 'Cups, Plates (Paper)', 'Cups, Plates (Plastic)',
       'Cups, Plates (Foam)', 'Fishing Buoys, Pots & Traps',
       'Fishing Net & Pieces', 'Fishing Line (1 yard/meter = 1 piece)',
       'Rope (1 yard/meter = 1 piece)', 'Fishing Gear (Clean Swell)',
       '6-Pack Holders', 'Other Plastic/Foam Packaging',
       'Other Plastic Bottles (oil, bleach, etc.)', 'Strapping Bands',
       'Tobacco Packaging/Wrap', 'Other Packaging (Clean Swell)',
       'Appliances (refrigerators, washers, etc.)', 'Balloons', 'Cigar Tips',
       'Cigarette Lighters', 'Construction Materials', 'Fireworks', 'Tires',
       'Toys', 'Other Trash (Clean Swell)', 'Condoms', 'Diapers', 'Syringes',
       'Tampons/Tampon Applicators', 'Personal Hygiene (Clean Swell)',
       'Foam Pieces', 'Glass Pieces', 'Plastic Pieces',
       'Total Items Collected'],
      dtype='object')

In [8]:
#get the number of observations for each variable
ocean.count()

Cleanup ID                        37903
Zone                              37665
State                             37577
Country                           37903
GPS                               37903
                                  ...
Personal Hygiene (Clean Swell)    37903
Foam Pieces                       37903
Glass Pieces                      37903
Plastic Pieces                    37903
Total Items Collected             37903
Length: 61, dtype: int64

In [9]:
#finding the percentage of missing values
missing_rows = ocean.isnull().sum()/ocean.shape[0]
missing_rows

Cleanup ID                        0.000000
Zone                              0.006279
State                             0.008601
Country                           0.000000
GPS                               0.000000
                                    ...
Personal Hygiene (Clean Swell)    0.000000
Foam Pieces                       0.000000
Glass Pieces                      0.000000
Plastic Pieces                    0.000000
Total Items Collected             0.000000
Length: 61, dtype: float64

In [10]:
ocean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37903 entries, 0 to 37902
Data columns (total 61 columns):
Cleanup ID                                   37903 non-null int64
Zone                                         37665 non-null object
State                                        37577 non-null object
Country                                      37903 non-null object
GPS                                          37903 non-null object
Cleanup Type                                 37903 non-null object
Cleanup Date                                 37903 non-null object
Group Name                                   26636 non-null object
Adults                                       37903 non-null int64
Children                                     37903 non-null int64
People                                       37903 non-null int64
Pounds                                       37903 non-null float64
Miles                                        37903 non-null float64
# of bags                                    37903 non-null int64
Cigarette Butts                              37903 non-null int64
Food Wrappers (candy, chips, etc.)           37903 non-null int64
Take Out/Away Containers (Plastic)           37903 non-null int64
Take Out/Away Containers (Foam)              37903 non-null int64
Bottle Caps (Plastic)                        37903 non-null int64
Bottle Caps (Metal)                          37903 non-null int64
Lids (Plastic)                               37903 non-null int64
Straws, Stirrers                             37903 non-null int64
Forks, Knives, Spoons                        37903 non-null int64
Beverage Bottles (Plastic)                   37903 non-null int64
Beverage Bottles (Glass)                     37903 non-null int64
Beverage Cans                                37903 non-null int64
Grocery Bags (Plastic)                       37903 non-null int64
Other Plastic Bags                           37903 non-null int64
Paper Bags                                   37903 non-null int64
Cups, Plates (Paper)                         37903 non-null int64
Cups, Plates (Plastic)                       37903 non-null int64
Cups, Plates (Foam)                          37903 non-null int64
Fishing Buoys, Pots & Traps                  37903 non-null int64
Fishing Net & Pieces                         37903 non-null int64
Fishing Line (1 yard/meter = 1 piece)        37903 non-null int64
Rope (1 yard/meter = 1 piece)                37903 non-null int64
Fishing Gear (Clean Swell)                   37903 non-null int64
6-Pack Holders                               37903 non-null int64
Other Plastic/Foam Packaging                 37903 non-null int64
Other Plastic Bottles (oil, bleach, etc.)    37903 non-null int64
Strapping Bands                              37903 non-null int64
Tobacco Packaging/Wrap                       37903 non-null int64
Other Packaging (Clean Swell)                37903 non-null int64
Appliances (refrigerators, washers, etc.)    37903 non-null int64
Balloons                                     37903 non-null int64
Cigar Tips                                   37903 non-null int64
Cigarette Lighters                           37903 non-null int64
Construction Materials                       37903 non-null int64
Fireworks                                    37903 non-null int64
Tires                                        37903 non-null int64
Toys                                         37903 non-null int64
Other Trash (Clean Swell)                    37903 non-null int64
Condoms                                      37903 non-null int64
Diapers                                      37903 non-null int64
Syringes                                     37903 non-null int64
Tampons/Tampon Applicators                   37903 non-null int64
Personal Hygiene (Clean Swell)               37903 non-null int64
Foam Pieces                                  37903 non-null int64
Glass Pieces                                 37903 non-null int64
Plastic Pieces                               37903 non-null int64
Total Items Collected                        37903 non-null int64
dtypes: float64(2), int64(52), object(7)
memory usage: 17.6+ MB

In [8]:
# drop the rows which has year more than 2020
ocean.drop(ocean[ocean['Cleanup Date'] == '0218-04-20'].index, inplace=True)
ocean['Cleanup Date'] = pd.to_datetime(ocean['Cleanup Date'])
ocean['Year'] = pd.DatetimeIndex(ocean['Cleanup Date']).year
ocean.drop(ocean[ocean['Year'] > 2020].index, inplace=True)

In [9]:
ocean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37894 entries, 0 to 37902
Data columns (total 62 columns):
Cleanup ID                                   37894 non-null int64
Zone                                         37656 non-null object
State                                        37568 non-null object
Country                                      37894 non-null object
GPS                                          37894 non-null object
Cleanup Type                                 37894 non-null object
Cleanup Date                                 37894 non-null datetime64[ns]
Group Name                                   26631 non-null object
Adults                                       37894 non-null int64
Children                                     37894 non-null int64
People                                       37894 non-null int64
Pounds                                       37894 non-null float64
Miles                                        37894 non-null float64
# of bags                                    37894 non-null int64
Cigarette Butts                              37894 non-null int64
Food Wrappers (candy, chips, etc.)           37894 non-null int64
Take Out/Away Containers (Plastic)           37894 non-null int64
Take Out/Away Containers (Foam)              37894 non-null int64
Bottle Caps (Plastic)                        37894 non-null int64
Bottle Caps (Metal)                          37894 non-null int64
Lids (Plastic)                               37894 non-null int64
Straws, Stirrers                             37894 non-null int64
Forks, Knives, Spoons                        37894 non-null int64
Beverage Bottles (Plastic)                   37894 non-null int64
Beverage Bottles (Glass)                     37894 non-null int64
Beverage Cans                                37894 non-null int64
Grocery Bags (Plastic)                       37894 non-null int64
Other Plastic Bags                           37894 non-null int64
Paper Bags                                   37894 non-null int64
Cups, Plates (Paper)                         37894 non-null int64
Cups, Plates (Plastic)                       37894 non-null int64
Cups, Plates (Foam)                          37894 non-null int64
Fishing Buoys, Pots & Traps                  37894 non-null int64
Fishing Net & Pieces                         37894 non-null int64
Fishing Line (1 yard/meter = 1 piece)        37894 non-null int64
Rope (1 yard/meter = 1 piece)                37894 non-null int64
Fishing Gear (Clean Swell)                   37894 non-null int64
6-Pack Holders                               37894 non-null int64
Other Plastic/Foam Packaging                 37894 non-null int64
Other Plastic Bottles (oil, bleach, etc.)    37894 non-null int64
Strapping Bands                              37894 non-null int64
Tobacco Packaging/Wrap                       37894 non-null int64
Other Packaging (Clean Swell)                37894 non-null int64
Appliances (refrigerators, washers, etc.)    37894 non-null int64
Balloons                                     37894 non-null int64
Cigar Tips                                   37894 non-null int64
Cigarette Lighters                           37894 non-null int64
Construction Materials                       37894 non-null int64
Fireworks                                    37894 non-null int64
Tires                                        37894 non-null int64
Toys                                         37894 non-null int64
Other Trash (Clean Swell)                    37894 non-null int64
Condoms                                      37894 non-null int64
Diapers                                      37894 non-null int64
Syringes                                     37894 non-null int64
Tampons/Tampon Applicators                   37894 non-null int64
Personal Hygiene (Clean Swell)               37894 non-null int64
Foam Pieces                                  37894 non-null int64
Glass Pieces                                 37894 non-null int64
Plastic Pieces                               37894 non-null int64
Total Items Collected                        37894 non-null int64
Year                                         37894 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(53), object(6)
memory usage: 18.2+ MB

In [10]:
# creating month, year, weekday
ocean['Month'] = pd.DatetimeIndex(ocean['Cleanup Date']).month
ocean['Weekday'] = pd.DatetimeIndex(ocean['Cleanup Date']).weekday
ocean['Day'] = pd.DatetimeIndex(ocean['Cleanup Date']).day

In [11]:
ocean.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected,Year,Month,Weekday,Day
0,86,"Cuyahoga County, OH, USA","Ohio, USA",United States,"41.49742, -81.56505","Land (beach, shoreline and inland)",2014-12-22,NaN,1,0,...,0,0,0,0,0,3,2014,12,0,22
1,87,"Fairfax County, VA, USA","Virginia, USA",United States,"38.87456, -77.24428","Land (beach, shoreline and inland)",2014-12-24,NaN,1,0,...,0,0,0,0,2,10,2014,12,2,24
2,92,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.04405","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,0,0,0,0,0,4,2015,2,3,19
3,93,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,0,0,0,0,0,14,2015,2,3,19
4,94,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,0,0,0,0,0,14,2015,2,3,19

In [12]:
#most frequently done cleanup type
ocean["Cleanup Type"].value_counts()

Land (beach, shoreline and inland)                  37107
Watercraft (powerboat, sailboat, kayak or canoe)      571
Underwater                                            216
Name: Cleanup Type, dtype: int64

In [13]:
#the number of times ocean cleanup done in each state
ocean["State"].value_counts()

Florida, USA                 11317
California, USA               9269
North Carolina, USA           1798
Washington, USA               1233
New York, USA                 1179
South Carolina, USA           1168
Texas, USA                    1070
Virginia, USA                 1068
Oregon, USA                    936
Hawaii, USA                    749
Massachusetts, USA             616
Pennsylvania, USA              596
Rhode Island, USA              499
Ohio, USA                      499
Illinois, USA                  482
New Jersey, USA                470
Maryland, USA                  467
Michigan, USA                  442
Connecticut, USA               407
Maine, USA                     398
District of Columbia, USA      371
Louisiana, USA                 363
Georgia, USA                   345
Delaware, USA                  331
Wisconsin, USA                 296
Alabama, USA                   197
Alaska, USA                    163
Colorado, USA                  132
New Hampshire, USA             123
Arizona, USA                    88
Minnesota, USA                  81
United States                   63
Indiana, USA                    62
Tennessee, USA                  53
Mississippi, USA                51
Vermont, USA                    34
Nebraska, USA                   31
Missouri, USA                   22
Idaho, USA                      21
Nevada, USA                     18
Utah, USA                       13
Oklahoma, USA                   13
Montana, USA                     6
Kentucky, USA                    6
Iowa, USA                        5
Kansas, USA                      5
Arkansas, USA                    4
Ontario, Canada                  2
West Virginia, USA               2
Wyoming, USA                     1
New Mexico, USA                  1
North Dakota, USA                1
South Dakota, USA                1
Name: State, dtype: int64

In [14]:
#the number of times ocean cleanup done in each state
ocean["Zone"].value_counts()

Los Angeles County, CA, USA    2499
Palm Beach County, FL, USA     2217
San Diego County, CA, USA      1852
Pinellas County, FL, USA       1757
Miami-Dade County, FL, USA     1650
                               ...
Randolph County, AL, USA          1
Fulton County, NY, USA            1
Whitfield County, GA, USA         1
Delta County, CO, USA             1
Jasper County, TX, USA            1
Name: Zone, Length: 900, dtype: int64

In [15]:
#the number of times ocean cleanup done in each month
ocean["Month"].value_counts()

9     16767
10     3854
7      2641
6      2617
4      2400
5      2152
8      1982
3      1452
11     1200
2      1078
1       980
12      771
Name: Month, dtype: int64

In [16]:
#the number of times ocean cleanup done on each weekday
ocean["Weekday"].value_counts()

5    19397
6     3738
4     3679
3     3001
2     2835
0     2707
1     2537
Name: Weekday, dtype: int64

In [17]:
#creating a new variable - landfill
ocean['Landfill'] = ocean['Cigarette Butts'] + ocean['Food Wrappers (candy, chips, etc.)']+ocean['Straws, Stirrers']
+ ocean['Forks, Knives, Spoons']+ocean['Beverage Bottles (Glass)']+ocean['Grocery Bags (Plastic)']+ocean['Cups, Plates (Plastic)']
+ ocean['Cups, Plates (Foam)']+ocean['Fishing Buoys, Pots & Traps']+ocean['Fishing Net & Pieces']+ocean['Fishing Line (1 yard/meter = 1 piece)']
+ ocean['Rope (1 yard/meter = 1 piece)']+ocean['Other Plastic/Foam Packaging']+ocean['Strapping Bands']+ocean['Tobacco Packaging/Wrap']
+ ocean['Other Packaging (Clean Swell)']+ocean['Balloons']+ocean['Cigarette Lighters']+ocean['Construction Materials']+ocean['Fireworks']
+ ocean['Other Trash (Clean Swell)']+ocean['Condoms']+ocean['Diapers']+ocean['Syringes']+ocean['Tampons/Tampon Applicators']
+ ocean['Personal Hygiene (Clean Swell)']+ocean['Foam Pieces']+ocean['Glass Pieces']+ocean['Plastic Pieces']

0           0
1           2
2           0
3           0
4           0
         ...
37898    4106
37899     881
37900     152
37901    1337
37902    1089
Length: 37894, dtype: int64

In [18]:
ocean['Landfill']

0           1
1           1
2           1
3           2
4           2
         ...
37898    2216
37899     367
37900    1435
37901     782
37902    2582
Name: Landfill, Length: 37894, dtype: int64

In [19]:
#creating a new variable - recycle
ocean['Recycle'] = ocean['Take Out/Away Containers (Plastic)']+ocean['Take Out/Away Containers (Foam)']+ocean['Bottle Caps (Plastic)']
+ocean['Bottle Caps (Metal)']+ocean['Lids (Plastic)']+ocean['Beverage Bottles (Plastic)']+ocean['Beverage Cans']+ocean['Other Plastic Bags']
+ocean['Fishing Gear (Clean Swell)']+ocean['6-Pack Holders']+ocean['Other Plastic Bottles (oil, bleach, etc.)']+ocean['Appliances (refrigerators, washers, etc.)']
+ocean['Tires']+ocean['Toys']

0        0
1        0
2        1
3        0
4        0
        ..
37898    9
37899    0
37900    0
37901    0
37902    0
Length: 37894, dtype: int64

In [20]:
ocean['Recycle']

0          0
1          3
2          1
3         12
4         12
        ...
37898    853
37899    242
37900    330
37901    541
37902     79
Name: Recycle, Length: 37894, dtype: int64

In [21]:
#creating a new variable - compost
ocean['Compost']=ocean['Paper Bags']+ocean['Cups, Plates (Paper)']+ocean['Cigar Tips']

In [22]:
ocean['Compost']

0          0
1          1
2          0
3          0
4          0
        ...
37898    234
37899     47
37900     35
37901    127
37902     40
Name: Compost, Length: 37894, dtype: int64

In [23]:
ocean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37894 entries, 0 to 37902
Data columns (total 68 columns):
Cleanup ID                                   37894 non-null int64
Zone                                         37656 non-null object
State                                        37568 non-null object
Country                                      37894 non-null object
GPS                                          37894 non-null object
Cleanup Type                                 37894 non-null object
Cleanup Date                                 37894 non-null datetime64[ns]
Group Name                                   26631 non-null object
Adults                                       37894 non-null int64
Children                                     37894 non-null int64
People                                       37894 non-null int64
Pounds                                       37894 non-null float64
Miles                                        37894 non-null float64
# of bags                                    37894 non-null int64
Cigarette Butts                              37894 non-null int64
Food Wrappers (candy, chips, etc.)           37894 non-null int64
Take Out/Away Containers (Plastic)           37894 non-null int64
Take Out/Away Containers (Foam)              37894 non-null int64
Bottle Caps (Plastic)                        37894 non-null int64
Bottle Caps (Metal)                          37894 non-null int64
Lids (Plastic)                               37894 non-null int64
Straws, Stirrers                             37894 non-null int64
Forks, Knives, Spoons                        37894 non-null int64
Beverage Bottles (Plastic)                   37894 non-null int64
Beverage Bottles (Glass)                     37894 non-null int64
Beverage Cans                                37894 non-null int64
Grocery Bags (Plastic)                       37894 non-null int64
Other Plastic Bags                           37894 non-null int64
Paper Bags                                   37894 non-null int64
Cups, Plates (Paper)                         37894 non-null int64
Cups, Plates (Plastic)                       37894 non-null int64
Cups, Plates (Foam)                          37894 non-null int64
Fishing Buoys, Pots & Traps                  37894 non-null int64
Fishing Net & Pieces                         37894 non-null int64
Fishing Line (1 yard/meter = 1 piece)        37894 non-null int64
Rope (1 yard/meter = 1 piece)                37894 non-null int64
Fishing Gear (Clean Swell)                   37894 non-null int64
6-Pack Holders                               37894 non-null int64
Other Plastic/Foam Packaging                 37894 non-null int64
Other Plastic Bottles (oil, bleach, etc.)    37894 non-null int64
Strapping Bands                              37894 non-null int64
Tobacco Packaging/Wrap                       37894 non-null int64
Other Packaging (Clean Swell)                37894 non-null int64
Appliances (refrigerators, washers, etc.)    37894 non-null int64
Balloons                                     37894 non-null int64
Cigar Tips                                   37894 non-null int64
Cigarette Lighters                           37894 non-null int64
Construction Materials                       37894 non-null int64
Fireworks                                    37894 non-null int64
Tires                                        37894 non-null int64
Toys                                         37894 non-null int64
Other Trash (Clean Swell)                    37894 non-null int64
Condoms                                      37894 non-null int64
Diapers                                      37894 non-null int64
Syringes                                     37894 non-null int64
Tampons/Tampon Applicators                   37894 non-null int64
Personal Hygiene (Clean Swell)               37894 non-null int64
Foam Pieces                                  37894 non-null int64
Glass Pieces                                 37894 non-null int64
Plastic Pieces                               37894 non-null int64
Total Items Collected                        37894 non-null int64
Year                                         37894 non-null int64
Month                                        37894 non-null int64
Weekday                                      37894 non-null int64
Day                                          37894 non-null int64
Landfill                                     37894 non-null int64
Recycle                                      37894 non-null int64
Compost                                      37894 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(59), object(6)
memory usage: 19.9+ MB

In [24]:
def season(c):
    if (c >= 3) and (c <= 5):
        return 'Spring'
    elif (c >= 6) and (c <= 8):
        return 'Summer'
    elif (c >= 9) and (c <= 11):
        return 'Fall'
    else:
        return 'Winter'
    

#new column season    
ocean['Season'] = ocean['Month'].apply(season)

In [25]:
ocean['Season']

0        Winter
1        Winter
2        Winter
3        Winter
4        Winter
          ...
37898      Fall
37899      Fall
37900      Fall
37901      Fall
37902      Fall
Name: Season, Length: 37894, dtype: object

In [27]:
#split the state column
ocean['State'] = ocean["State"].str.split(",", n = 1, expand = True)

In [28]:
ocean['State']

0                        Ohio
1                    Virginia
2        District of Columbia
3        District of Columbia
4        District of Columbia
                 ...
37898                 Florida
37899                 Florida
37900                 Florida
37901                 Florida
37902              California
Name: State, Length: 37894, dtype: object

In [29]:
ocean.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Plastic Pieces,Total Items Collected,Year,Month,Weekday,Day,Landfill,Recycle,Compost,Season
0,86,"Cuyahoga County, OH, USA",Ohio,United States,"41.49742, -81.56505","Land (beach, shoreline and inland)",2014-12-22,NaN,1,0,...,0,3,2014,12,0,22,1,0,0,Winter
1,87,"Fairfax County, VA, USA",Virginia,United States,"38.87456, -77.24428","Land (beach, shoreline and inland)",2014-12-24,NaN,1,0,...,2,10,2014,12,2,24,1,3,1,Winter
2,92,"Washington, DC, USA",District of Columbia,United States,"38.90733, -77.04405","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,0,4,2015,2,3,19,1,1,0,Winter
3,93,"Washington, DC, USA",District of Columbia,United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,0,14,2015,2,3,19,2,12,0,Winter
4,94,"Washington, DC, USA",District of Columbia,United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,0,14,2015,2,3,19,2,12,0,Winter

In [31]:
NorthEast = ['Maine', 'Delaware', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island',
             'Maryland', 'Connecticut','New York', 'New Jersey', 'Pennsylvania']
SouthEast = ['Arkansas', 'Mississippi', 'Louisiana', 'Alabama', 'Georgia', 'Tennessee', 
             'North Carolina', 'South Carolina','West Virginia', 'Virginia', 'Kentucky', 'Florida']
SouthWest = ['Arizona', 'New Mexico', 'Texas', 'Okalahoma']
West = ['California', ' Nevada', 'Oregon', 'Utah', 'Colorado', 'Wyoming', 'Idaho', 'Montana', 'Washington', 'Alaska']
MidWest = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Missouri', 'Iowa', 
           'Minnesota', 'Illinois', 'Indiana', 'Michigan', ' Ohio', 'Wisconsin']

def region(r):
    if r in NorthEast:
        return 'NorthEast'
    elif r in SouthEast:
        return 'SouthEast'
    elif r in SouthWest:
        return 'SouthWest'
    else:
        return 'West'
    

#new column region    
ocean['Region'] = ocean['State'].apply(region)

In [32]:
ocean['Region']

0             West
1        SouthEast
2             West
3             West
4             West
           ...
37898    SouthEast
37899    SouthEast
37900    SouthEast
37901    SouthEast
37902         West
Name: Region, Length: 37894, dtype: object

In [33]:
ocean.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Total Items Collected,Year,Month,Weekday,Day,Landfill,Recycle,Compost,Season,Region
0,86,"Cuyahoga County, OH, USA",Ohio,United States,"41.49742, -81.56505","Land (beach, shoreline and inland)",2014-12-22,NaN,1,0,...,3,2014,12,0,22,1,0,0,Winter,West
1,87,"Fairfax County, VA, USA",Virginia,United States,"38.87456, -77.24428","Land (beach, shoreline and inland)",2014-12-24,NaN,1,0,...,10,2014,12,2,24,1,3,1,Winter,SouthEast
2,92,"Washington, DC, USA",District of Columbia,United States,"38.90733, -77.04405","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,4,2015,2,3,19,1,1,0,Winter,West
3,93,"Washington, DC, USA",District of Columbia,United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,14,2015,2,3,19,2,12,0,Winter,West
4,94,"Washington, DC, USA",District of Columbia,United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2015-02-19,NaN,1,0,...,14,2015,2,3,19,2,12,0,Winter,West

In [36]:
from pandas import DataFrame
df = DataFrame(ocean)

export_csv = df.to_csv (r'/Users/nisha/UMD/Data Challenge2/ocean_cleanup_cleaned.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

print (df)

       Cleanup ID                      Zone                 State  \
0              86  Cuyahoga County, OH, USA                  Ohio
1              87   Fairfax County, VA, USA              Virginia
2              92       Washington, DC, USA  District of Columbia
3              93       Washington, DC, USA  District of Columbia
4              94       Washington, DC, USA  District of Columbia
...           ...                       ...                   ...
37898       96514   Broward County, FL, USA               Florida
37899       96515   Broward County, FL, USA               Florida
37900       96516   Broward County, FL, USA               Florida
37901       96517   Broward County, FL, USA               Florida
37902       96518  Humboldt County, CA, USA            California

             Country                                GPS  \
0      United States                41.49742, -81.56505
1      United States                38.87456, -77.24428
2      United States                38.90733, -77.04405
3      United States                 38.90733, -77.0441
4      United States                 38.90733, -77.0441
...              ...                                ...
37898  United States  26.237461329267, -80.088657725949
37899  United States  26.192071595116, -80.095065761509
37900  United States  26.167607025494, -80.098590082316
37901  United States  26.141126021262, -80.103590059501
37902  United States  40.809835251824, -124.14836608941

                             Cleanup Type Cleanup Date  \
0      Land (beach, shoreline and inland)   2014-12-22
1      Land (beach, shoreline and inland)   2014-12-24
2      Land (beach, shoreline and inland)   2015-02-19
3      Land (beach, shoreline and inland)   2015-02-19
4      Land (beach, shoreline and inland)   2015-02-19
...                                   ...          ...
37898  Land (beach, shoreline and inland)   2019-09-21
37899  Land (beach, shoreline and inland)   2019-09-21
37900  Land (beach, shoreline and inland)   2019-09-21
37901  Land (beach, shoreline and inland)   2019-09-21
37902  Land (beach, shoreline and inland)   2019-09-21

                                   Group Name  Adults  Children  ...  \
0                                         NaN       1         0  ...
1                                         NaN       1         0  ...
2                                         NaN       1         0  ...
3                                         NaN       1         0  ...
4                                         NaN       1         0  ...
...                                       ...     ...       ...  ...
37898                           Pompano Beach     155        65  ...
37899  Lauderdale By The Sea at El Prado Park     173         0  ...
37900    Fort Lauderdale at Earl Lifshey Park      79         0  ...
37901            Hugh Taylor Birch State Park     135         0  ...
37902                    Caltrans- ZWCCD 2019      16         4  ...

       Total Items Collected  Year  Month  Weekday  Day  Landfill  Recycle  \
0                          3  2014     12        0   22         1        0
1                         10  2014     12        2   24         1        3
2                          4  2015      2        3   19         1        1
3                         14  2015      2        3   19         2       12
4                         14  2015      2        3   19         2       12
...                      ...   ...    ...      ...  ...       ...      ...
37898                   9044  2019      9        5   21      2216      853
37899                   1830  2019      9        5   21       367      242
37900                   2370  2019      9        5   21      1435      330
37901                   3788  2019      9        5   21       782      541
37902                   4205  2019      9        5   21      2582       79

       Compost  Season     Region
0            0  Winter       West
1            1  Winter  SouthEast
2            0  Winter       West
3            0  Winter       West
4            0  Winter       West
...        ...     ...        ...
37898      234    Fall  SouthEast
37899       47    Fall  SouthEast
37900       35    Fall  SouthEast
37901      127    Fall  SouthEast
37902       40    Fall       West

[37894 rows x 70 columns]